mixin chatCard(chat)
    .chat-card(data-id=chat.id)
        .chat-card-content
            .chat-card-header
                h3.chat-title= chat.name
                span.chat-date= chat.date

            .chat-meta
                span.owner Created by #{chat.owner}
                span.count #{chat.messages ? chat.messages.length : 0} messages

        .chat-actions
            button.action-btn(type="button") Open
            button.action-btn(type="button") Delete
