mixin chatMessage(message, currentUserId)
    .message-card(class=message.ownerId === currentUserId ? "own" : "other")
        .message-content
            .message-header
                span.message-user= message.username
                span.message-time= message.createdAt

            p.message-text= message.text

        if message.ownerId === currentUserId
            form(method="POST", action=`/messages/delete/${message.id}`)
                button.delete-btn(type="submit") Delete